.landing-page {
  background-image: url("../../Assets/tripplanning2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  font-size: 16px;
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: 300;
}

.welcome-container {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  height: 70%;
  width: 30%;
  margin-top: 150px;
  padding-top: 30px;
  text-align: center;
}

.landingbutton {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  /* font-family:Arial; */
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  /* padding: 90px; */
  margin: 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
}
.landingbutton:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}
.landingbutton:active {
  position: relative;
  top: 1px;
}

.smaller-font {
  font-size: 12px;
}
